body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  max-height: auto;
  background-color: rgb(241, 230, 182);
}

.title {
  margin-top: 20%;
  text-align: center;
  color: #382103;
}
